@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content_area">
    <div class="content_top_banner cards_bnr">
        <h2 align="left" class="page_title">Contact</h2>
    </div>


    <ul class="breadcrumb bgcol">
        <li><a href="/home">Home</a></li>
        <li>Contact</li>
    </ul>
    <div class="page_content">


        <div class="about_content">
            <h1>Contact Details</h1>
            <div class="contact-data">
                National Informatics Centre<br>
                Department of Electronics &amp; Information Technology<br>
                Ministry of Communications &amp; Information Technology<br>
                A-Block, CGO Complex, Lodhi Road<br>
                New Delhi - 110 003 India<br>
                Email:egreetings[at]gov[dot]in<br>
                Phone No - 011-24305101,02
            </div>
        </div>

        <div class="contect-us-right">
            <h1>Leave Us a Reply</h1>
            <div id="response_prof"></div>
            <div id="response_prof_trying"></div>
            <form method="post" name="" asp-action="SendContact" id="">
                <div class="form-group">
                    <textarea class="form-control" rows="3" id="cComment" name="content" placeholder="comments"></textarea>
                </div>

                @* <div class="form-group">
                <input type="text" class="form-control" id="cCaptcha" name="cCaptcha" placeholder="Enter Captcha" style="float:left; width:50%;" fdprocessedid="0bnf5k">
                <div style="float:left; margin-right:10px;padding-left:25px;"><img src="feedback-captcha/" id="captcha_img" alt="Captcha | eGreetings Portal"></div>
                <div style="padding-top:7px;"><a href="javascript:;" title="Refresh Captcha | eGreetings Portal" onclick="document.getElementById('captcha_img').src = 'feedback-captcha/?' + Math.random(); return false"><img src="../assets/images/refresh.png"></a></div>
                </div>
                <input type="hidden" name="csrf_token" value="06764680123296503254788544311643"> *@
                <div class="contact-btn"><button type="submit" id="send_Qry" class="button red bigrounded red_submit" fdprocessedid="s9ai9p">Submit</button></div>

            </form>
        </div>

    </div>
</div>