
@{
    ViewData["Title"] = "EditCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content_area">

    <div class="content_top_banner cards_bnr">
        <h2 align="left" class="page_title">Create Custom eCard</h2>
    </div>

    <ul class="breadcrumb bgcol">
        <li><a href="#">Home</a></li>
        <li>About eGreetings</li>
        <li style="float:right;"><a href="/user/assets/manuals/eGreetings_eCard_Editor_Manual.pdf" target="_blank" style="color:blue;"><i class="fa fa-file-pdf-o"></i> eCard Editor Manual</a></li>
    </ul>

    <span class="foff" style="display:none;">457</span>


    <!-- About Content Area Strat-->
    <div class="page_content" style="padding-left:0px;padding-right:0px;">
        <div class="" id="changeit">
            <iframe width="100%" style="height:750px;box-shadow: 15px 15px 10px #888888;border:none;border-top:5px solid #f00;padding: 15px;" src="/user/egrt-editor/index.html?id=@ViewBag.Id" id="dynamic_Src">
            </iframe>
        </div>
    </div>
    <script>
        // Lấy giá trị từ session trong trang chính (ví dụ từ ViewData)
        var imageName = '@ViewBag.Image';

        // Lấy đối tượng iframe
        var iframe = document.getElementById('dynamic_Src');

        // Gửi giá trị vào iframe
        iframe.onload = function() {
            iframe.contentWindow.postMessage(imageName, '*');
        }
        
    </script>

    <!-- About Content Area End-->

</div>

